<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null" nzTheme="light">
    <div class="sidebar-logo">
      <a routerLink="/" target="_blank">
        <img src="/assets/images/Logo-ANSV.png" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="customer">Quản lý khách hàng</a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
              <a>Monitor</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Workplace</a>
            </li> -->
        </ul>
      </li>
      <li nz-submenu nzTitle="Hợp đồng và đơn hàng" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="contract">Quản lý hợp đồng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="guarantee">Yêu cầu bảo lãnh</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="po">Quản lý đơn hàng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="dp">Quản lý danh sách giao hàng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pl">Quản lý bảng kê hàng hóa</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản trị hệ thống" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="role">Quản lý nhóm quyền</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="user">Quản lý người dùng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="config">Quản lý cấu hình</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="function">Quản lý function</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="department">Quản lý phòng ban</a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
              <a routerLink="config">Danh mục tỉnh thành</a>
            </li> -->
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row class="app-header">
        <div nz-col [nzSpan]="12">
          <span class="header-trigger" (click)="sidebarCollapse()">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>

        <div nz-col [nzSpan]="6" [nzOffset]="6">
          <a class="user-info" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu class="user-menu">
              <li nz-menu-item routerLink="/auth/login" (click)="clrLocal()">Log out</li>
              <li nz-menu-item>User Information</li>
            </ul>
          </nz-dropdown-menu>
        </div>

      </div>
    </nz-header>
    <nz-content>
      <div class="page-content-custom">
        <div class="breadcrumb-custom">
          <app-breadcrumb></app-breadcrumb>
        </div>

        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
