<div class="modal-content">
    <form nz-form>
        <!-- row 1 -->
        <div nz-row class="flex flex-row">
            <div nz-col class="text-center" [nzSpan]="24">
                <p>{{data}}</p>
            </div>

        </div>
    </form>

    <div class="modal-footer" *nzModalFooter>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Xóa</button>
        <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    </div>
</div>