<!-- <div class="modal-content">
    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <div nz-row [nzGutter]="2">
           
                <div nz-col [nzSpan]="12">
                    <label> Mã hợp đồng:<span style="color:red">*</span></label>
                </div>
                <div nz-col [nzSpan]="12">
                    <input nz-input placeholder="Mã hợp đồng" [(ngModel)]="item.contractCode" name="contractCode"
                        required />
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="16">
            <div nz-row [nzGutter]="2">
                <div nz-col [nzSpan]="4">
                    <label>Tên hợp đồng:<span style="color:red">*</span></label>
                </div>
                <div nz-col [nzSpan]="20">
                    <input nz-input placeholder="Tên hợp đồng" [(ngModel)]="item.name" />
                </div>
            </div>
        </div>
    </div>


    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <div nz-row [nzGutter]="2">
                <div nz-col [nzSpan]="12">
                    <label>Giá trị:<span style="color:red">*</span></label>
                </div>
                <div nz-col [nzSpan]="12">
                    <input nz-input placeholder="Giá trị" [(ngModel)]="item.paymentContent" />
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="16">
            <div nz-row [nzGutter]="2">
                <div nz-col [nzSpan]="4">
                    <label>Mô tả:</label>
                </div>
                <div nz-col [nzSpan]="20">
                    <textarea rows="3" nz-input placeholder="Mô tả" [(ngModel)]="item.description"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="4">
            <label>Thanh toán:<span style="color:red">*</span></label>
        </div>
        <div nz-col [nzSpan]="20">
            <textarea nz-input placeholder="Nội dung thanh toán" [(ngModel)]="item.paymentContent"></textarea>
        </div>
    </div>

    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="4">
            <label>Khách Hàng:<span style="color:red">*</span></label>
        </div>
        <div nz-col [nzSpan]="20">
            <input nz-input placeholder="Khách hàng" [(ngModel)]="item.customerId" />
        </div>

    </div>

    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="12">
            <div nz-row [nzGutter]="2">
                <div nz-col [nzSpan]="8">
                    <label>Ngày HĐ:<span style="color:red">*</span></label>
                </div>
                <div nz-col [nzSpan]="16">
                    <nz-date-picker [nzSize]="'default'" [(ngModel)]="item.contractDate"></nz-date-picker>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="12">
            <div nz-row [nzGutter]="2">
                <div nz-col [nzSpan]="8">
                    <label>Hiệu lực HĐ:<span style="color:red">*</span></label>
                </div>
                <div nz-col [nzSpan]="16">
                    <nz-date-picker [nzSize]="'default'" [(ngModel)]="item.timeLine"></nz-date-picker>
                </div>
            </div>
        </div>
    </div>

    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="4">
            <label>Bảo lãnh:</label>
        </div>
        <div nz-col [nzSpan]="20">
            <input nz-input placeholder="Bảo lãnh ngân hàng" [(ngModel)]="item.bankGuarantee" />
        </div>
    </div>

    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="4">
            <label>Nội dung BL:</label>
        </div>
        <div nz-col [nzSpan]="20">
            <textarea nz-input row="4" placeholder="Nội dung bảo lãnh" [(ngModel)]="item.guarantee"></textarea>
        </div>
    </div>

    <div nz-row class="flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="4">
            <label>Ghi chú:</label>
        </div>
        <div nz-col [nzSpan]="20">
            <textarea nz-input row="4" placeholder="Ghi chú" [(ngModel)]="item.note"></textarea>
        </div>
    </div>

</div>

<div class="modal-footer" *nzModalFooter>
    <button nz-button nzType="primary" [disabled]="" (click)="handleOk()" [nzLoading]="isConfirmLoading">Lưu</button>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
</div> -->
<div class="modal-content">
    <form nz-form [formGroup]="formValidation">
        <!-- row 1 -->
        <div nz-row class="flex flex-row" [nzGutter]="8">
            <div nz-col [nzSpan]="12">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label nz-col [nzSpan]="6">
                        Mã hợp đồng <span style="color:red ;">*</span>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="18" nzErrorTip="Bắt buộc!">
                        <input nz-input placeholder="Mã hợp đồng" formControlName="contractCode" name="contractCode"
                            required />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="12">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label nz-col [nzSpan]="6">
                        Tên hợp đồng <span style="color:red ;">*</span>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="18" nzErrorTip="Bắt buộc!">
                        <textarea rows="3" nz-input placeholder="Têm hợp đồng" formControlName="name" name="name"
                            required></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>

        <!-- row 2 -->
        <div nz-row class="flex flex-row" [nzGutter]="8">
            <div nz-col [nzSpan]="12">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label [nzSpan]="6">
                        Giá trị <span style="color:red;">*</span>
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Bắt buộc!">
                        <nz-input-number [nzMin]="0" formControlName="value" name="value" style="width: 100%;">
                        </nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label [nzSpan]="6">
                        Mô tả
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <textarea nz-input rows="3" formControlName="description" name="description"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>


        <!-- row 3 -->
        <div nz-row class="flex flex-row" [nzGutter]="8">
            <div nz-col [nzSpan]="12">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label [nzSpan]="6">
                        Ngày hợp đồng <span style="color:red;">*</span>
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Bắt buộc!">
                        <nz-date-picker [nzSize]="'default'" formControlName="contractDate" style="width:100%;">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label [nzSpan]="6">
                        Hiệu lực HĐ <span style="color:red;">*</span>
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <nz-date-picker [nzSize]="'default'" formControlName="timeLine" style="width:100%;">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <!-- row 4 -->
        <div nz-row class="flex flex-row" [nzGutter]="8">
            <div nz-col [nzSpan]="24">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label nz-col [nzSpan]="3">
                        Bảo lãnh <span style="color:red ;">*</span>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="21" nzErrorTip="Bắt buộc!">
                        <input nz-input placeholder="Bảo lãnh" formControlName="bankGuarantee" name="bankGuarantee"
                            required />
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>

        <!-- row 5 -->
        <div nz-row class="flex flex-row" [nzGutter]="8">
            <div nz-col [nzSpan]="24">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label nz-col [nzSpan]="3">
                        Nội dung bảo lãnh <span style="color:red ;">*</span>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="21" nzErrorTip="Bắt buộc!">
                        <textarea rows="3" nz-input placeholder="Nội dung bảo lãnh" formControlName="guarantee"
                            name="guarantee" required></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>

        <!-- row 6 -->
        <div nz-row class="flex flex-row" [nzGutter]="8">
            <div nz-col [nzSpan]="24">
                <nz-form-item nz-row [nzGutter]="2">
                    <nz-form-label nz-col [nzSpan]="3">
                        Ghi chú
                    </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="21">
                        <textarea rows="3" nz-input placeholder="Ghi chú" formControlName="note" name="note"
                            required></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>

    </form>

    <div class="modal-footer" *nzModalFooter>
        <button nz-button nzType="primary" [disabled]="!formValidation.valid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Lưu</button>
        <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    </div>
</div>